<div class="add-product-form">
  <h1 class="title">Agrega tus productos</h1>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" formControlName="name" />
    </div>

    <div class="form-group">
      <label>Precio</label>
      <input type="number" formControlName="price" />
    </div>

    <div class="form-group">
      <label>Cantidad</label>
      <input type="number" formControlName="quantity" />
    </div>

    <button type="submit" [disabled]="productForm.invalid">Guardar</button>
  </form>
</div>
